.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  border-radius: 5%;
}  

.featureSvg * {
  clip-path: none !important;
}

.row {
  justify-content: center;
}