.members {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.memberImg {
  height: 200px;
  width: 200px;
}

.memberImg * {
  clip-path: none !important;
}

.row {
  justify-content: center;
}